

main{
    background-color: black;
}

.block{
    padding: 4rem;
    background-color: black;
}


.block .wrapper{
    width: 100%;
    height: 80vh;
    max-height: 100%;
    margin: 0 auto;
}


.block--hobbies .image{
    max-width: 450px;
    max-height: 450px;
}

.block--hobbies .wrapper {
    gap: 3rem;

}

.block--profile .block__content{
    display: block;
}


@media (max-width: 800px) {
    main{
        gap: 5rem;
    }
    .block--hobbies .wrapper{
        flex-direction: column-reverse;
        text-align: center;

    }
    
    .block--hobbies .image{
        width: 80%;
    }

    .block--profile .wrapper{
        max-width: 100%;
    }

    .block .wrapper{
        height: 100vh;
    }
    
    .block{
        padding: 3rem;
    }
}

@media (min-width: 1200px) {
    .block .wrapper{
        width: 50%;
    }
}
