
.block{
    padding: 4rem;
    background-color: black;
}

.block .wrapper{
    width: 75%;
    height: 80vh;
    margin: 0 auto;
}

.block--hobbies .block__header {
    align-self: flex-start;
}


.block--about .block__content{
    display: block;
}



@media (max-width: 800px) {
    .block--hobbies .block__content {
        flex-direction: column-reverse;
    }    
}

@media (min-width: 1200px) {
    .block .wrapper{
        width: 50%;
    }
}
