@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@900&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

:root {
  --color-dark-sh1: #1e1e1e;
  --color-dark-sh2: #151515;
  --color-dark-sh3: #333333;
  --color-dark-sh4: hsl(0, 0%, 90%);
  --color-dark-sh5: hsl(0, 0%, 50%);
}

body {
  background-color: var(--color-dark-sh2);
  color: var(--color-dark-sh4);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.round--img {
  border-radius: 50%;
}

.icon {
  color: var(--color-dark-sh5);
  font-size: 1rem;
}

.icon:hover {
  color: var(--color-dark-sh4);
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex__column {
  flex-direction: column;
}

.flex__row {
  flex-direction: row;
}

.f__center {
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex__between {
  justify-content: space-between;
}

.m-auto {
  margin: 0 auto;
}

.image__round{
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}


.position-sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  display: block;
}

.nav {
  padding: 1.25rem;
  left: 0;
  top: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1e1e;
  z-index: 999;
  margin: 0;
}

.nav__image {
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
}

.nav__link {
  gap: 1rem;
}

.link {
  padding: 0;
  list-style-type: none;
  color: var(--color-dark-sh5);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.link:hover {
  color: white;
}

.contacts {
  position: fixed;
  right: -10px;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: var(--color-dark-sh1);
  border: 1px solid var(--color-dark-sh3);
  gap: 0.5rem;
}

.block {
  max-width: 100vw;
  height: 100vh;
}

.block--profile {
  background-color: var(--color-dark-sh2);
  height: auto;
}

.block__header{
  margin-bottom: 1rem;
}

.block__heading {
  font-size: 3rem;
}

.block__subheading {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.block__footer {
  margin-top: 5rem;
}

.block__content{
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 1.3px;
  line-height: 1.2rem;
  color: var(--color-dark-sh5);
}

.card {
  height: 280px;
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card__img {
  flex-grow: 1;
  display: inline;

  background-color: lightgray;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  
}

.card__title {
  font-family: "Chivo", sans-serif;
  font-size: 1.2rem;
}

.card__date {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark-sh5);
}

.block--projects {
  height: 100vh;
  background-color: black;

}

.block--projects .cards {
  gap: 1.5rem;
}

.block--projects .block__header {
  align-self: flex-start;
}

.block--projects .block__heading {
  font-size: 4rem;
}

.block--projects .card__img {
  background-color: gray;
}

.footer {
  text-align: center;
  background-color: black;
  color: var(--color-dark-sh5);
  height: 40vh;
}

.block--profile{
  padding: 4rem;
}

.block--profile .wrapper{
  margin: auto;
  width: 50%;
  gap: 3rem;
}


.block--profile .image{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-position: center;
  object-fit: cover;
  border: 3px solid var(--color-dark-sh3);
  padding: 10px;
  border-style: dashed;
}

.block--profile .block__content{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.block--profile .block__footer{
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .contacts {
    bottom: 2rem;
    left: 2rem;
    right: unset;
    padding-left: 0.8rem;
    flex-direction: row;
  }

  .nav__toggler {
    display: none;
  }

  .codespace {
    margin-top: 5rem;
    width: 40vw;
  }

  .codespace__block {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    border-bottom: 1px solid var(--color-dark-sh3);
  }
  
  .nav .link{
    font-size: 0.75rem;
  }

  .block--projects {
    height: 100%;
    padding: 7rem 0;
  }

  .block--projects .block__heading{
    font-size: 3rem;
    width: 5ch;
  }

  .block--projects .cards {
    flex-direction: column;
    width: 100%;
  }

  .block--profile .wrapper{
    flex-direction: column;
    text-align: center;
    max-width: 75%;
  }

  .block--profile .image{
    height: 180px;
    width: 180px;
  }

  .block--profile .block__content{
    -webkit-line-clamp: 4;
  }
}
