
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:wght@900&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;700&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    outline: 0;
}

:root{
    --color-dark-sh1: #1E1E1E;
    --color-dark-sh2: #151515;
    --color-dark-sh3: #333333;
    --color-dark-sh4: hsl(0, 0%, 90%);
    --color-dark-sh5: hsl(0, 0%, 50%);
    
}

body{
    background-color: var(--color-dark-sh2);
    color: var(--color-dark-sh4);
}

.round--img{
    border-radius: 50%;
}

.icon{
    color: var(--color-dark-sh5);
    font-size: 1.3rem;
}

.icon:hover{
    color: var(--color-dark-sh4);
    cursor: pointer;
}

.flex{
    display: flex;
}

.flex__column{
    flex-direction: column;
}

.f__center{
    justify-content: center;
    align-items: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.flex__between{
    justify-content: space-between;
}


.nav{
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav__image{
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
}

.contacts{
    position: fixed;
    right: -10px;   
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.8rem 1rem 0.8rem 0.8rem;
    background-color: var(--color-dark-sh1);
    border: 1px solid var(--color-dark-sh5);

}

.contacts__icon{
    margin: 0.3rem;
}

.block{
    max-width: 100vw;
    height: 100vh;
}

.block--profile{
    background-color: var(--color-dark-sh2);
    height: auto;
}

.block__heading{
    font-size: 3rem;
}

.block__subheading{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.codespace{
    margin: 4rem 0 1rem 0;
    background-color: var(--color-dark-sh1);
    height: 100vh;
    width: 90vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
}

.codespace__header{
    height: 1rem;
    border-radius: 5px 5px 0 0;
    background-color: var(--color-dark-sh5);
}

.codespace__content{
    padding: 2rem;
}

.codespace__block{
    margin: 1rem 0;
}

.codespace__block--code{
    font-size: 1rem;
    font-weight: normal;
}

.codespace__block--output{
    text-indent: 3rem;
    color: var(--color-dark-sh5);
}

.codespace__block--output::before{
    content: '=>';
}

.codespace__caret{
    color: var(--color-dark-sh5);
}

.codespace--highlight{
    color:rgba(255, 99, 71, 0.692);
}

.codespace--string{
    color: #88DCFE;
}

.card{
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card__img{
    flex-grow: 1;
    flex-shrink: 1;
    display: inline;
    
    background-color: lightgray;
}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.card__title{
    font-family: 'Chivo', sans-serif;
    font-size: 1.2rem;
}

.card__date{
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark-sh5);
}


.block--projects{
    height: 100vh;
    background-color: black;
}

.block--projects .block__content{
    gap: 1.5rem;
}

.block--projects .block__header{
    position: relative;
    width: 100%;
    height: auto;
}

.block--projects .block__heading{
    font-size: 4rem;
    position: absolute;
    top: -53px;
    left: -20px;
}

.block--projects .card__img{
    background-color: gray;
}

@media screen and (min-width: 800px) {
    .contacts{
        bottom: 2rem;
        left: 2rem;
        right: unset;
        padding-left: 0.8rem;
        flex-direction: row;
    }

    .nav{
        margin: 1rem;
    }

    .codespace{
        margin-top: 5rem;
        width: 40vw;
    }

    .codespace__block{
        margin: 2rem 0;
    }

    
    
}

@media screen and (max-width: 800px) {
    .block--projects{
        height: 100%;
        padding: 7rem;
    }

    .block--projects .block__header{
        margin-bottom: 4.5rem;
    }
    

    .block--projects .block__content{
        flex-direction: column;
    }
}